beautifulsoup4==4.12.2
Django==4.2.1
django-filter==24.2
djangorestframework==3.15.1
dnspython==2.4.2
gunicorn==20.1.0
httpie==3.2.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
login==0.0.6
Pillow==9.5.0
python-certifi-win32==1.6.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
requests==2.28.2
whitenoise==6.0.0

